<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <h4>Provides an overview over following exercises</h4>
    <ol>
        <li><a href="/getProgress">Summer homework</a> </li>
        <li><a href="/selfEvaluation?number=1">Self evaluation 1</a></li>
        <li><a href="/selfEvaluation?number=2">Self evaluation 2</a></li>
        <li><a href="/selfEvaluation?number=3">Self evaluation 3</a></li>
        <li><a href="/selfEvaluation?number=4">Self evaluation 4</a></li>
    </ol>
</div>
</body>
</html>