<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <h1 class="title">Progression of <span th:text="${title}"></span></h1>

    <div th:each="progress: ${progressList}" class="fork" th:class="${progress.isUserInFodFin()} ? 'fork fork-fodfin' : 'fork fork-cm'">
        <h3 class="username"><a th:href="${progress.url}"><span th:text="${progress.realName}"></span></a>(<span th:text="${progress.team}"></span>)</h3>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 th:style="'width:' + ${progress.percentage} + '%'"><span th:text="${progress.percentage}"></span>
            </div>
        </div>
        <p>
            <span>
                <span th:text="${progress.numberOfCompletedItems}"></span> of <span
                    th:text="${progress.totalItems}"></span> are completed.
            </span>
            <span style="float: right">
                Last updated: <span th:text="${progress.lastUpdate}"></span>
            </span>
        </p>
    </div>
</body>
</html>
<body>
